@keyframes ShowWinCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 50px;
	}
	95% {
		opacity: 1;
		height: 50px;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}
#matchbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	width: 700px;
	height: 65px;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	border-radius: var(--panel-radius);
	background-color: var(--sub-panel-color);
	.team, .win_text {
		&.CT {
			color: var(--color-new-ct);
		}
		&.T {
			color: var(--color-new-t);
		}
	}
	#timer {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 14%;
		height: 100%;
		justify-content: center;
        &.no-bo {
            height: 65px;
        }
	}
	#bomb_container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		.bomb_timer {
			width: 85%;
			top: 0;
			height: 0;
            background-color: var(--color-bomb);
            &.hide {
                display: none;
            }
		}
		.bomb_icon {
			position: absolute;
			width: 100%;
			height: 100%;
			svg {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 6px;
				max-height: 80%;
				max-width: 80%;
            }
            &.hide {
                display: none;
            }
		}
	}
	#round_timer_text {
		display: flex;
		width: 100%;
		justify-content: center;
		font-size: 26px;
		font-weight: bold;
		z-index: 1;
		color: var(--white-full);
        &.hide {
            display: none;
        }
	}
	#round_now {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: bold;
		z-index: 1;
        color: var(--white-full);
        &.hide {
            display: none;
        }
	}
	.team {
		width:  35%;
		display: flex;
		align-items: center;
		.logo {
			display: flex;
			flex-direction: row;
			width: 25%;
			height: 100%;
			align-items: center;
			overflow: hidden;
			justify-content: center;
			img {
				max-width: 90%;
				max-height: 65%;
			}
        }
        &.left {
            justify-content: center;
            flex-direction: row-reverse;

        }
        &.right {
            justify-content: center;
            flex-direction: row;
        }
	}
	.team-name {
		display: flex;
		width: 75%;
		height: 100%;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: 28px;
		text-align: center;
	}
	.score {
		display: flex;
		flex-direction: row;
		width: 6%;
		height: 100%;
		align-items: flex-end;
		justify-content: center;
		font-weight: 600;
		font-size: 44px;
		margin-top: -2px;
	}
	.bar {
		display: flex;
		flex-direction: row;
		width: 10px;
        height: 100%;
        &.CT {
            background-color: var(--color-new-ct);
        }
        &.T {
            background-color: var(--color-new-t);
        }
	}

}
.win_text {
	position: fixed;
	display: none;
	opacity: 1;
	width: 299px;
	height: 45px;
	top: 70px;
	align-items: center;
	color: black;
	justify-content: center;
	background-color: var(--sub-panel-color);
	font-size: 20px;
	font-family: Montserrat;
    font-weight: 600;
	border-radius: var(--panel-radius);
    &.show {
        display: flex;
        animation: ShowWinCycle 5s linear 1;
        animation-fill-mode: forwards;
    }
    &.right {
        left: calc(57%);
    }
    &.left {
        right: calc(57%);
    }
}

.defuse_plant_container {
	position: fixed;
	display: flex;
	opacity: 1;
	width: 299px;
	height: 45px;
	top: 70px;
	align-items: center;
	color: white;
    justify-content: center;
    background-color: var(--sub-panel-color);
	border-radius: var(--panel-radius);
	overflow: hidden;
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
	.defuse_plant_bar {
		height: 49px;
		background-color: rgba(255, 255, 255, 0.815);
		position: absolute;
		width: 0%;
	}
	.defuse_plant_caption {
		z-index: 1;
		display: flex;
		text-transform: uppercase;
		align-items: flex-end;
		svg {
			margin-right: 13px;
		}
    }
    &.right {
        left: 57%;
        .defuse_plant_bar {
            left: 0;
        }
    }
    &.left {
        right: 57%;
        .defuse_plant_bar {
            right: 0;
        }
    }
    &.hide {
        opacity: 0;
    }
}
#encapsulator {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	top: 15px;
	width: 260px;
	height: 50px;
	left: 50%;
	transform: translateX(-50%);
	gap: 65px;
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
	.wins_bar {
		display: flex;
		flex-direction: row;
		width: 10px;
		height: 30px;
	}
	.wins_bar.CT {
		background-color: var(--color-new-ct);
	}
	.wins_bar.T {
		background-color: var(--color-new-t);
	}
}
.alert_bar.CT {
	background-color: var(--color-new-ct);
}
.alert_bar.T {
	background-color: var(--color-new-t);
}
#series_container {
	display: flex;
	flex-direction: row;
	width: 10%;
	height: 15px;
}
#series_text {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	font-size: 12px;
	font-weight: bold;
	color: var(--white-full);
}
.container {
	display: flex;
	flex-direction: row;
	width: 45%;
	height: 100%;
}
.container.left {
	justify-content: flex-end;
}
.container.right {
	justify-content: flex-start;
}
.series_wins {
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 30px;
	z-index: 1;
	padding-left: 14px;
	padding-right: 15px;
	top: -30px;
	transition: top 0.5s;
}
.series_wins.show {
	top: 0px;
}
.wins_box_container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	align-items: flex-start;
	justify-content: flex-start;
}
.series_wins.left {
	.wins_box_container {
		flex-direction: row-reverse;
	}
}
.wins_box {
	width: 20px;
    height: 7px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: var(--panel-radius);
}
.wins_box.CT {
	background-color: rgba(58, 58, 58, 0.877);
}
.wins_box.CT.win {
	background-color: var(--color-new-ct);
}
.wins_box.T {
	background-color: rgba(58, 58, 58, 0.877);
}
.wins_box.T.win {
	background-color: var(--color-new-t);
}
