footer {
    margin-bottom: 0px;
}

footer .btn {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none !important;
    margin-right: 4px;
}

footer a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}